<div class="flex flex-col justify-center gap-1 py-2 dark:bg-slate-200 rounded text-center dark:hover:bg-slate-300">
  <img src="<%= amenity.url %>" alt="<%= amenity.title_en %>" loading="lazy" class="block size-10 m-auto">
  <span class="font-sm text-center text-sm px-2"><%= amenity.title_en %></span>     
</div>