<a href="<%= venue_path(@venue) + '?date=' + date[:date] %>" class="flex flex-col gap-1 px-6 py-2 dark:bg-slate-200 rounded text-center dark:hover:bg-slate-300">
  <span class=""><%= date[:wday] %></span>
  <span class=""><%= date[:day] %></span>
  <span class=""><%= date[:month] %></span>      
</a>