<section class="mt-12 px-12 grid grid-flow-row place-items-center gap-8 grid-cols-[repeat(auto-fill,minmax(300px,300px))]">
  <%= render partial: "venue_card", collection: @venues, as: :venue %>
</section>